@value makerBlack, makerWhite, makerGreen,makerLightPink from '/src/common/color.css';

.login {
    display: flex;
    flex-direction: column;
    width: 35rem;
    background-color: makerWhite;
    justify-content: center;
}

.body {
    text-align: center;
    color: makerBlack;
}

.list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    margin-bottom: 0.3rem;
}

.button {
    width: 100%;
    border-radius: 30px;
    height: 3rem;
    border: 1px solid makerGreen;
    color: makerGreen;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
}
.button:hover {
    background-color: makerLightPink;
}