@value makerWhite from '../../common/color.css';
@value mediaQuery from '../../common/size.css';
.card {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
}
.list {
    background-color: makerWhite;
    flex: 1;
    min-height: 0;
    display: flex;
}

@media screen and (max-width: mediaQuery){
    .list {
        flex-direction: column;
    }
}