@value makerLightPink, makerBlack,makerGreen,makerWhite from '../../common/color.css';

.cardForm {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid makerBlack;
    border-left: 1px solid makerBlack;
}

.input,
.select,
.textarea,
.inputFile,
.button {
    border: 0;
    border-bottom: 1px solid makerBlack;
    border-right: 1px solid makerBlack;
    font-size: 0.8rem;
    padding: 0.3em;
    color: makerBlack;
}
.inputFile {
    text-align: center;
    background-color: makerLightPink;
    cursor: pointer;
}

.input ,
.select {
    flex: 1 1 30%;
}

.textarea {
    flex: 1 1 100%;
}
.inputFile,
.button {
    flex: 1 1 50%;
}
.input:focus,
.select:focus,
.textarea:focus {
    outline: none;
}