@value makerGreen,makerWhite from '/src/common/color.css';

.header {
    text-align: center;
    padding: 0.8em;
    width: 100%;
    background-color: makerGreen;
    color: makerWhite;
    position: relative;
}
.logo {
    height: 3rem;
}
.title {
    margin: 0;
}
.logout {
    position: absolute;
    right: 3em;
    top: 0.4em;
    outline: none;
    border: 1px solid makerWhite;
    background-color: transparent;
    color: makerWhite;
    cursor: pointer;
 }